body, h1, h3 {
    font-family: Arial;
    background-color: aqua;
}
nav {
    padding-top: 10;
    padding-bottom: 10;
    padding-left: 20;
    background-color: cadetblue;
}
a {
    background-color: aquamarine;
    font-family: Arial;
    margin: 10;
    padding: 5;
    text-decoration: unset;
    color: black;
}