body, h1, h3 {
    font-family: Arial;
    background-color: cyan;
}
nav {
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: cadetblue;
}
.navbut a {
    background-color: aquamarine;
    font-family: Arial;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    text-decoration: unset;
    color: black;
}
.navbut a:hover {
    background-color: chocolate;
    color: antiquewhite;
}
div {
    background-color: bisque;
    border-radius: 5px;
}